<header class="flex justify-center items-center py-10 w-full mx-auto">
  <span></span>
  <nav class="flex flex-col sm:flex-row gap-x-10 opacity-80">
    <a class="hover:scale-110" href="/">Inicio</a>
    <a class="hover:scale-110" href="#educacion">Educacion</a>
    <a class="hover:scale-110" href="#proyectos">Proyectos</a>
    <a class="hover:scale-110" href="#cursos">Cursos</a>
    <a class="hover:scale-110" href="#contacto">Contacto</a>
  </nav>
</header>
